body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the navigation */
nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style the main content */
main {
    padding: 20px;
}

.about, .team {
    margin-bottom: 30px;
}

.team-member {
    text-align: center;
}

.team-member img {
    
    border-radius: 10%;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}